{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="card">


  <div class="card-header">
      <h4 align="center">Produkty</h4>
  </div>

</div>

			<a class="btn btn-outline-info  btn-sm btn-block" href="">Stwórz klijenta</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="">Usuń klijenta</a>
<br>

		</div>

	</div>


<br>

   </div>

<div class="card">



      <div class="card text-white bg-primary mb-3";">
 <h4> <div class="card-header" align="center">Produkty</div></h4>
  </div>

</div>

       <ul>
      <li class="list-group-item">Email</li>
      <li class="list-group-item">Imie </li>
      <li class="list-group-item">Nazwiko</li>
   </ul>
<br>
<div class="card">
  <h5 class="card-header">Liczba zamówień</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Wybierz</a>
  </div>
</div>


	<br>

	<div class="card">

 <div class="card-header">
  </div>
				</div>
				<div class="card card-body">
					<table class="table table-sm table-dark">
  <thead>
    <tr>

      <th scope="col">Produkt </th>
      <th scope="col">Kategodia</th>
      <th scope="col">Data</th>
      <th scope="col">Cena</th>
      <th scope="col">CZy zapłacone</th>
      <th scope="col">Uakalizuj</th>

    </tr>

					</table>
				</div>
			</div>

		</div>
</div>

{% endblock %}