{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}


<br>
<br>
<div class="row">
	<div class="col-md-5">
	<div class="card-header">
      <h4 align="center">Klijnet</h4>
  </div>
		<hr>
		<div class="card card-body">
			<button type="button" class="btn btn-primary btn-lg btn-block">Stwórz członka</button>
			<hr>
            <table class="table table-sm table-secondary">

    <tr>
      <th></th>
      <th scope="col">Imię Klijenta</th>
      <th scope="col">nazwisko</th>
      <th scope="col">Opis</th>
      <th scope="col">emial</th>

    </tr>
<table class="table table-sm table-danger">
        {% for customer in customers %}
            <tr class="table-danger">
        <td class="table-danger">{{ customer.imie}}</td>
        <td class="table-danger">{{ customer.nazwisko}}</td>
        <td class="table-danger">{{ customer.content}}</td>
        <td class="table-danger">{{ customer.email}}</td>
               </tr>
            </table>
        {% endfor %}

            </table>
		</div>
	</div>

	<div class="col-md-7">
	<div class="card-header">
      <h4 align="center">Ostanie 10 zamówień</h4>
  </div>
		<hr>
		<div class="card card-body">
           <button type="button" class="btn btn-primary btn-lg btn-block">Stwórz zamówienie</button>
<hr>
             <table class="table table-sm table-secondary">
				<tr>


                    <th scope="col">Produkt </th>
      <th scope="col">Data</th>
      <th scope="col">Cena</th>
      <th scope="col">CZy zapłacone</th>
      <th scope="col">Uakalizuj</th>
                </tr>


 <table class="table table-sm table-danger">
        {% for order in orders %}
             <tr class="table-danger">
            <td class="table-danger">{{ order.product }}</td>
            <td class="table-danger">{{ order.date_created }}</td>
            <td class="table-danger">{{ order.cena }}</td>
            <td class="table-danger">{{ order.status }}</td>
            <td class="table-danger">{{ i.tags }}</td>
            </tr>
            </table>
                {% endfor %}
			</table>
		</div>

	</div>

</div>

{% endblock content %}