{%  extends 'accounts/main.html' %}
{% block content %}

		<br>

	<div class="card">
  <div class="card-header">

  <div class="card-header">
      <h4 align="center">Produkty</h4>
  </div>
				</div>
				<div class="card card-body">
					<table class="table table-sm table-dark">
  <thead>
    <tr>

      <th scope="col">Produkt nazwa </th>
      <th scope="col">Kategodia</th>
      <th scope="col">Opis</th>
        <th scope="col">Cena</th>
      <th scope="col">Data dodania</th>
      <th scope="col">przynaleśnosc</th>
        </thead>





        {% for i in products %}
            <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.kategoria }}</td>
            <td>{{ i.content }}</td>
            <td>{{ i.cena }}</td>
            <td>{{ i.data }}</td>
            <td>{{ i.tags }}</td>
            </tr>
        {% endfor %}

    </tr>

					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}